<h3>Welcome to the Lejog tracker</h3>
<p>The idea is that you track your runs and watch your progress from Land's End to John O Groats.</p>
<p>You can join a team and watch your team's progress.</p>
<p>To make progress you'll have to do some stuff, and I haven't fixed that yet  :).</p>