<h3>Welcome to the Lejog tracker</h3>
<p>The idea is that you track your runs and watch your progress from Land's End to John O Groats.</p>
<p>You can join a team and watch your team's progress.</p>
<h3>Instructions for Strava Alone:</h3>
<p>Enter your strava id in your user field (you can do this by going to edit user from the menu if you didn't do this in the registration).  Then click 'update mileage' and authorise this application to access your Strava data (the link will take you there).  This should automatically import your run data from Stava, and after a minute or so, if you refresh the page, you should see your data appearing in your runs data, and your marker moving along the map.  Don't then enter the same run under 'My Runs' if it has already been imported from Strava, or you'll be double claiming! </p>
<h3>Manual Only Method</h3>
<p>  To make progress without Stava integration you'll have to manually enter your runs under 'My Runs'.  :(</p>
<h3>FAQs</h3>
<h5>What's to stop me cheating?</h4><p>Not a lot.</p>
<h5>What does this app get from Strava?</h4><p>It imports your distance and date for each run in the time interval the competition runs for, and stores them to a database.  It does not request permission to write anything to Strava.  You can revoke permission to read data from Strava at any time from your Strava control panel, or just remove your strava id under 'edit user'.</p>
<h5>My data is not there :(</h4><p>It takes a minute to import from Strava, if you refresh your browser after a couple of minutes and it is still not there, send me a message in the link below.  Data should also update once per day.  If your new data does not appear, please let me know.</p>
