<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
</head>
<body>
  <h3>Here is a map of the route</h3>

  <%= react_component("Map") %>

  <script>
    console.log('here I am the index page');
  </script>
</body>
</html>