<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
</head>
<body>
  <h3>Here is a map of the route</h3>

  <script>
    console.log('here I am the index page');
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBenxa7U_dMan0gT-qsu4GeyhfqdcaSYrU&callback=myMap"></script>
</body>
</html>