<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
</head>
<body>
  <h3>Here is a map of the route</h3>

  <div id='map'>
  <%= react_component("Map") %>
  </div>

  <script>
  </script>
</body>
</html>